/data
# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Sensitive variables
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc